<div class="row show-grid" id='post'>
  <%= form_for @post, :html => { :multipart => true } do |f| %>
    <!-- html: {multipart: true} necesario para subir una imagen-->
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class='col-xs-6 col-md-4'>
        <% if @post.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

            <ul>
            <% @post.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <div class="input-group input-group-lg">
          <%= f.label :titulo %>
          <%= f.text_field :titulo %>
        </div>
        <br>
        <!--file_field control para subir imagenes-->
        <div class="input-group input-group-lg">
          <%= f.label :photo %>
          <%= f.file_field :photo %>
        </div>
        <br><br>
        <div class="input-group input-group-lg">
          <%= f.submit class: 'btn btn-default' %>
        </div>  
      </div>  
    </div>
    <div class="col-md-4"></div>
  <% end %>
</div>

